@media screen and (orientation:portrait) {
    * {
       font-size: 40px;
    }


    .box {
        width: 80%;
    }

}

@media screen and (orientation:landscape) {
    *{
        font-size: 20px;
    }

    .box {
        width: 30%;
    }
}

body {
    color: white;
    background-color: #303030;
    height: 100%;
    top: 10%;
}


input,select {
    border: none;
    border-radius: 3px;
    background-color: #828282;
    color: white;
}

td {
/*    border: solid 2px black;*/
    border-radius: 10px;
    box-shadow: black;
    font-family: sans-serif;

}

.indent,p {
    opacity: .5;
    margin-left: 2%;
}

.button {
    background-color: #424242;
    border: solid 3px #525252;
    border-radius: 3px;
}

.bar {
    display: block;
    width: 100%;

    position: fixed;
    left: 0px;
    top: 0px;

    box-shadow: 0px 2px 2px grey;
    
    padding: 10px;
    color: white;
    background-color: #212121;
}


.box {
    border-radius: 3px;
    position: fixed;
    width: 80%;
    left: 5%;
    height: wrap;
    padding: 5%;
    background-color: #424242;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 50%;
}

.list {
    width: 100%;
    display: block;
    margin-top: 4em;
    
    padding: .5em;
    border: none;
    color: white;
    font-family: sans-serif;
    background-color: #424242;
    overflow-y: auto;
}

.status {
    position: fixed;
    right: 0;
}